<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317094254138-46gabq5b4qkmuct7drp944mppemf63m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317094254138-46gabq5b4qkmuct7drp944mppemf63m9</string>
	<key>API_KEY</key>
	<string>AIzaSyCWrm87dILeqmFd9hVxxRqJHO3NSiOYrC8</string>
	<key>GCM_SENDER_ID</key>
	<string>317094254138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>banco.Banco-IOS</string>
	<key>PROJECT_ID</key>
	<string>banco-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>banco-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317094254138:ios:8ee26ffb894d63f3924703</string>
</dict>
</plist>